
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="assets/icone.ico">
	<title>Login</title>
	<link rel="stylesheet" href="/assets/responsive.css">
</head>

<body>
	<header class="header_area">
		<div class="main_menu">
			<nav id="navbar" class="navbar fixed-top justify-content-between navbar-expand-lg navbar-light" style="background-color:white">
				<div class="container-fluid">
					<a class="navbar-brand logo_h" routerLink="/index" routerLinkActive="active">
						<img src="assets/boabrisa.png" width="180px">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
						<div class="row">
							<div class="col">
								<ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item">
										<a class="nav-link" routerLink="/index" routerLinkActive="active">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/cadastro-produto" routerLinkActive="active">Cadastrar produto</a>
                    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
  <section class="feature_product_area section_gap" style="background-color: transparent">
    <div class="main_box">
			<div class="container-fluid">
				<div class="row">
            <div class="main_title">
                <form class="cadastro">

      <img src="/assets/boabrisa.png" height="50px" width="150px">

      <label>Cadastro de usuário</label>
      <input  [(ngModel)]="model.nome" type="text" name="nome" placeholder="Nome" class="nome" required>

      <label></label>
      <input  [(ngModel)]="model.email" type="text" name="email" placeholder="Email" class="email" required>

      <label></label>
      <input  [(ngModel)]="model.endereco" type="text" name="endereco" placeholder="Endereço" class="endereco" required>

      <label></label>
      <input  [(ngModel)]="model.numCasa" type="text" name="numCasa" placeholder="Numero da casa" class="numcasa" required>

      <label></label>
      <input [(ngModel)]="model.senha" type="password" name="senha" placeholder="Senha" class="pass" required>

      <button type="submit" (click)="cadastroUsuario()">Cadastrar usuario</button>

    </form>
    <div class="row">
        <div class="col">
          <ng-container *ngFor='let item of users' >
            <div class="f_p_item produtos">
              <h5>Nome: {{item.nome_usuario}}</h5>
              <h5 >Email: {{item.email_usuario}}</h5>
              <h5 >Endereco: {{item.endereco_usuario}}</h5>
              <h5 >Numero da casa: {{item.numcasa_usuario}}</h5>
              <h5 >Bairro: {{item.bairro_usuario}}</h5>
              <br>
              <button class="btn btn-secondary" (click)="deleteUsuario(item.id_usuario)"> Deletar usuario </button>
            </div>
          </ng-container>
        </div>
      </div>
            </div>
        </div>
    <footer class="footer" style="background-color: black; color: white;">
      <div class="text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-4 p-4">
                <h2 class="mb-4">Sobre nós</h2>
                <p class="m-0">
                  Somos uma empresa e-commerce focada em vendas de roupas.
                </p>
              </div>
              <div class="col-md-4 p-4">
                <h2 class="mb-4">Localização</h2>
                <p>
                  Avenida Aimores 37283, Tupã
                    <br>São Paulo, Brasil. 
                </p>
              </div>
              <div class="col-md-4 p-4">
                <h2 class="mb-4">Contato</h2>
                <p>
                    <a href="mailto:brisaboa@gmail.com" class="text-white">brisa.boa@hotmail.com</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 BrisaBoa - Todos os direitos reservados. </p>
              </div>
            </div>
          </div>
        </div>
      </footer>    
    <router-outlet></router-outlet>