
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="assets/icone.ico">
	<title>Login</title>
	<link rel="stylesheet" href="/assets/responsive.css">
</head>

<body>
	<header class="header_area">
		<div class="main_menu">
			<nav id="navbar" class="navbar fixed-top justify-content-between navbar-expand-lg navbar-light" style="background-color:white">
				<div class="container-fluid">
					<a class="navbar-brand logo_h" routerLink="/index" routerLinkActive="active">
						<img src="assets/boabrisa.png" width="180px">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
						<div class="row">
							<div class="col">
								<ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item">
										<a class="nav-link" routerLink="/index" routerLinkActive="active">Home</a>
                  </li>
                  <li class="nav-item">
										<a class="nav-link" routerLink="/cadastro-user" routerLinkActive="active">Cadastrar usuário</a>
                  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
  </header>
  
  <section class="feature_product_area section_gap" style="background-color: transparent">
    <div class="main_box">
			<div class="container-fluid">
				<div class="row">
					<div class="main_title">
						<form class="cadastro">

              <img src="/assets/boabrisa.png" height="50px" width="150px">
            
              <label>Cadastro de produto</label>
              <input  [(ngModel)]="model.nome"type="text" name="nome" placeholder="Nome" class="nome">
            
              <label></label>
              <input  [(ngModel)]="model.preco"type="text" name="email" placeholder="Preço" class="preco">
                
              <label></label>
              <input [(ngModel)]="model.descricao" type="text" name="password" placeholder="Descrição" class="description">
            
              <button type="submit" (click)="cadastroProduto()">Cadastrar produto</button>

            </form>
					</div>
        </div>
        <div class="row">
            <div class="col">
              <ng-container *ngFor='let item of users' >
                <div class="f_p_item" >
                  <h4 style="color:white">Nome: {{item.nome_produto}}</h4>
                  <h5 style="color:white">Preço: {{item.preco_produto}}</h5>
                  <h5 style="color:white">Descricao: {{item.descricao_produto}}</h5>
                  <button class="botao" (click)="deleteProduto(item.id_produto)"> Deletar usuario  </button>
                </div>
              </ng-container>
            </div>
          </div>
    <footer class="footer" style="background-color: black; color: white;">
      <div class="text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-4 p-4">
                <h2 class="mb-4">Sobre nós</h2>
                <p class="m-0">
                  Somos uma empresa e-commerce focada em vendas de roupas.
                </p>
              </div>
              <div class="col-md-4 p-4">
                <h2 class="mb-4">Localização</h2>
                <p>
                  Avenida Aimores 37283, Tupã
                    <br>São Paulo, Brasil. 
                </p>
              </div>
              <div class="col-md-4 p-4">
                <h2 class="mb-4">Contato</h2>
                <p>
                    <a href="mailto:brisaboa@gmail.com" class="text-white">brisa.boa@hotmail.com</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3">
                <p class="text-center text-muted">© Copyright 2018 BrisaBoa - Todos os direitos reservados. </p>
              </div>
            </div>
          </div>
        </div>
      </footer>    
    <router-outlet></router-outlet>