<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="assets/icone.ico">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/assets/responsive.css">
</head>

<body>
  <header class="header_area">
    <div class="main_menu">
      <nav id="navbar" class="navbar fixed-top justify-content-between navbar-expand-lg navbar-light"
        style="background-color:white;">
        <div class="container-fluid">
          <a class="navbar-brand logo_h" routerLink="/index" routerLinkActive="active">
            <img src="assets/boabrisa.png" width="180px" style="background-size: cover" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <div class="row">
              <div class="col">
                <ul class="nav navbar-nav text-right pull-right">
                  <li class="nav-item">
                    <a *ngIf="token.tipo === 'admin'" class="nav-link" routerLink="/cadastro-user" routerLinkActive="active">Cadastrar usuario</a>
                  </li>
                  <li class="nav-item">
                    <a *ngIf="token.tipo === 'admin'" class="nav-link" routerLink="/cadastro-produto" routerLinkActive="active">Cadastrar produto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/checkout" routerLinkActive="active">Carrinho</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div id="divPrincipal">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block formatImg" src="/assets/banner1.jpg" alt="">
          <div class="carousel-caption d-md-block">
            <h5>Se vista bem</h5>
            <p>Com essa plataforma você terá uma variedade de roupas que estão na moda</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block formatImg" src="/assets/banner2.jpg" alt="">
          <div class="carousel-caption d-md-block">
            <h5>Se vista do seu jeito</h5>
            <p>Se vista com o que você gostar</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block formatImg" src="assets/banner3.jpg" width="500px" alt="">
          <div class="carousel-caption d-md-block">
            <h5>Roupas de diversos estilos</h5>
            <p>Com essa plataforma você terá diversos disposto a seu gosto</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <section class="feature_product_area section_gap" style="background-color: transparent">
    <div class="main_box">
      <div class="container-fluid">
        <div class="row">
          <div class="main_title">
            <h2>Nossos Produtos</h2>
            <p>Para aqueles que se sentem ousado.</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <ng-container *ngFor='let item of items'>
              <div class="f_p_item">
                <h4>Nome: {{item.nome_produto}}</h4>
                <h5>Preço: {{item.preco_produto}}</h5>
                <h5>Descricao: {{item.descricao_produto}}</h5>
                <button (click)="cadastroPedido(item.id_produto,token.id_user,item.nome_produto,item.prec_produto)"> Adicionar ao carrinho </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer" style="background-image: linear-gradient(white, black);">
    <div class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 p-4">
            <h2 class="mb-4">Sobre nós</h2>
            <p class="m-0">
              Somos uma empresa e-commerce focada em vendas de roupas.
            </p>
          </div>
          <div class="col-md-4 p-4">
            <h2 class="mb-4">Localização</h2>
            <p>
              Avenida Aimores 37283, Tupã
              <br>São Paulo, Brasil.
            </p>
          </div>
          <div class="col-md-4 p-4">
            <h2 class="mb-4">Contato</h2>
            <p>
              <a href="mailto:brisaboa@gmail.com" class="text-white">brisa.boa@hotmail.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="text-center text-muted">© Copyright 2018 BrisaBoa - Todos os direitos reservados. </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <router-outlet></router-outlet>